<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>You can help a pet</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">to find a home</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div href="#intro" id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center header text_h2"> Petime is a mobile application for help the pets that need find a <span class="span_h2"> Home  </span> through
                    the adoption. </h2>
            </div>

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-done"></i>
                    <h5 class="promo-caption">Post a pet</h5>
                    <p class="light center">Post a pets registering all data referent to pet, like color, size, name, age, country, city .
                    </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-search"></i>
                    <h5 class="promo-caption">Search pets nearly you</h5>
                    <p class="light center">You can search pets for adopt near of you, display a list of pets with about info pet.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-communication-chat"></i>
                    <h5 class="promo-caption">Speak with the rescue</h5>
                    <p class="light center">Through the real time chat you can communicate all the time with the rescue pet for adopt pet information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Modules </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/login.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Login <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Login<i class="mdi-navigation-close right"></i></span>
                        <p>This module is responsible for management permissions, sessions and credentials in the app.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/post_pet.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Post a pet <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Post a pet<i class="mdi-navigation-close right"></i></span>
                        <p>This module is responsible for management the info for the pets (see detail, create, update).</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/account.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Account <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Account <i class="mdi-navigation-close right"></i></span>
                        <p>This module is responsible for management the info for the users (see detail, create, update).</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/pets.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pets <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pets <i class="mdi-navigation-close right"></i></span>
                        <p>This module is responsible for list the pets nearly of you.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/pet_details.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pet detail <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pet detail <i class="mdi-navigation-close right"></i></span>
                        <p>This module is responsible for load info detailed for each pet.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/chat.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Chat real time <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">See more</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Chat real time <i class="mdi-navigation-close right"></i></span>
                        <p>This module implments all socket communication for every chat endpoint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax">
        <img src="img/parallax.jpg">
        <h2 class="text_github">You can download the app in <a href="https://github.com/jsricarde/Petime" target="_blank">github</a></h2>
    </div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Development by </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <p></p>
            </div>
            <div class="col s12 m4 l4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Juan Sebastian Ricarde. <br/>
                            <small><em><a class="red-text text-darken-1" href="#">Web developer</a></em></small></span>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <p></p>
            </div>
        </div>
    </div>
</div>